{% extends 'base.html' %}
{% block content %}
<h3>記念日の記録一覧</h3>
<a href="{% url 'boards:register_anniversary' %}" class="btn btn-primary">新規記念日の登録</a>
<a href="{% url 'accounts:home' %}" class="btn btn-primary">ホーム画面に戻る</a>

{% if messages %}
  {% for message in messages %}
    <div class="alert alert-success">
      {{ message }}
    </div>
  {% endfor %}
{% endif %}

<table class="table table-striped table-bordered">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">日付</th>
      <th scope="col" style="white-space: nowrap;">相手の名前</th>
      <th scope="col">目的</th>
      <th scope="col">金額</th>
      <th scope="col">思い出の内容</th>
    </tr>
  </thead>
<tbody>
    {% for record in anniversary_records %}
      <tr>
        <th scope="row">{{ forloop.counter }}</th>
        <td>{{ record.date|date:"Y-m-d" }}</td>
        <td style="white-space: nowrap;">{{ record.opponent.name }}</td> <!-- 相手の名前を表示 -->
        <td style="white-space: nowrap;">{{ record.purpose }}</td>
        <td style="white-space: nowrap;">{{ record.amount_of_money|floatformat:"0" }}円</td>
        <td>{{ record.memories }}</td>
        <td>
          <a href="{% url 'boards:edit_anniversary_record' id=record.id %}">編集</a>
          <form action="{% url 'boards:delete_anniversary_record' id=record.id %}" method="post" style="display:inline;">
              {% csrf_token %}
              <button type="submit" class="btn btn-danger" onclick="return confirm('この記念日を削除してもよろしいですか？');">削除</button>
          </form>
        </td>
      </tr>
    {% empty %}
      <tr>
        <td colspan="7">登録された記念日の記録がありません。</td>
      </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}


